
*.vsidx
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/project.razor.vs.json
obj/Debug/net6.0/ShahbazAzureSite.AssemblyInfo.cs
obj/Debug/net6.0/ShahbazAzureSite.AssemblyInfoInputs.cache
obj/Debug/net6.0/ShahbazAzureSite.assets.cache
obj/Debug/net6.0/ShahbazAzureSite.csproj.AssemblyReference.cache
obj/Debug/net6.0/ShahbazAzureSite.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ShahbazAzureSite.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ShahbazAzureSite.GlobalUsings.g.cs
obj/Debug/net6.0/ShahbazAzureSite.RazorAssemblyInfo.cache
obj/Debug/net6.0/ShahbazAzureSite.RazorAssemblyInfo.cs
.vs/ShahbazAzureSite/FileContentIndex/be1d52f1-c3b0-4041-8af2-e649ced22d0c.vsidx
.vs/ShahbazAzureSite/v17/.suo
obj/project.assets.json
obj/ShahbazAzureSite.csproj.nuget.dgspec.json
obj/ShahbazAzureSite.csproj.nuget.g.props
obj/ShahbazAzureSite.csproj.nuget.g.targets
.vs/ShahbazAzureSite/v17/.suo
.vs/ShahbazAzureSite/FileContentIndex/be1d52f1-c3b0-4041-8af2-e649ced22d0c.vsidx
