
*.v2
*.v2
*.vsidx
TestSite/.vs/TestSite/v17/.suo
*.testlog
*.manifest
TestSite/.vs/TestSite/v17/.suo
TestSite/bin/Debug/net6.0/appsettings.Development.json
TestSite/bin/Debug/net6.0/appsettings.json
TestSite/bin/Debug/net6.0/TestSite.deps.json
TestSite/bin/Debug/net6.0/TestSite.dll
TestSite/bin/Debug/net6.0/TestSite.exe
TestSite/bin/Debug/net6.0/TestSite.pdb
TestSite/bin/Debug/net6.0/TestSite.runtimeconfig.json
TestSite/bin/Debug/net6.0/TestSite.staticwebassets.runtime.json
TestSite/obj/Debug/net6.0/apphost.exe
TestSite/obj/Debug/net6.0/ref/TestSite.dll
TestSite/obj/Debug/net6.0/refint/TestSite.dll
TestSite/obj/Debug/net6.0/scopedcss/bundle/TestSite.styles.css
TestSite/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
TestSite/obj/Debug/net6.0/scopedcss/projectbundle/TestSite.bundle.scp.css
TestSite/obj/Debug/net6.0/staticwebassets.build.json
TestSite/obj/Debug/net6.0/staticwebassets.development.json
TestSite/obj/Debug/net6.0/staticwebassets.pack.json
TestSite/obj/Debug/net6.0/staticwebassets/msbuild.build.TestSite.props
TestSite/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.TestSite.props
TestSite/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.TestSite.props
TestSite/obj/Debug/net6.0/staticwebassets/msbuild.TestSite.Microsoft.AspNetCore.StaticWebAssets.props
TestSite/obj/Debug/net6.0/TestSite.assets.cache
TestSite/obj/Debug/net6.0/TestSite.csproj.CoreCompileInputs.cache
TestSite/obj/Debug/net6.0/TestSite.csproj.FileListAbsolute.txt
TestSite/obj/Debug/net6.0/TestSite.dll
TestSite/obj/Debug/net6.0/TestSite.genruntimeconfig.cache
TestSite/obj/Debug/net6.0/TestSite.MvcApplicationPartsAssemblyInfo.cache
TestSite/obj/Debug/net6.0/TestSite.pdb
TestSite/obj/project.nuget.cache
TestSite/obj/Debug/net6.0/TestSite.assets.cache
TestSite/obj/Debug/net6.0/TestSite.csproj.FileListAbsolute.txt
UnitTests/SiteUnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/Newtonsoft.Json.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/NuGet.Frameworks.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/nunit.engine.api.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/nunit.engine.core.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/nunit.engine.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/nunit.framework.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
UnitTests/SiteUnitTests/bin/Debug/net6.0/nunit_random_seed.tmp
UnitTests/SiteUnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/SiteUnitTests.deps.json
UnitTests/SiteUnitTests/bin/Debug/net6.0/SiteUnitTests.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/SiteUnitTests.pdb
UnitTests/SiteUnitTests/bin/Debug/net6.0/SiteUnitTests.runtimeconfig.json
UnitTests/SiteUnitTests/bin/Debug/net6.0/testcentric.engine.metadata.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/testhost.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/testhost.exe
UnitTests/SiteUnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
UnitTests/SiteUnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
UnitTests/SiteUnitTests/obj/Debug/net6.0/ref/SiteUnitTests.dll
UnitTests/SiteUnitTests/obj/Debug/net6.0/refint/SiteUnitTests.dll
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.assets.cache
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.csproj.CopyComplete
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.csproj.CoreCompileInputs.cache
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.csproj.FileListAbsolute.txt
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.dll
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.genruntimeconfig.cache
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.pdb
UnitTests/SiteUnitTests/obj/project.nuget.cache
TestSite/obj/Debug/net6.0/TestSite.assets.cache
TestSite/obj/Debug/net6.0/TestSite.csproj.FileListAbsolute.txt
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.assets.cache
UnitTests/SiteUnitTests/obj/Debug/net6.0/SiteUnitTests.csproj.FileListAbsolute.txt
