@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>I am very excited to see this all coming together and auto deployment working.</p>

<p>Updated version again to see if it builds on commit.</p>

<p>New Test</p>
<p>New Test 3</p>
<p>New Test 4</p>
<p>New Test 5</p>
<p>New Test 6</p>

<p>Final testing of CI and CD on Azure Web App without test and database</p>